<div class="cita">
  <h1>¡Bienvenidxs a Sau-Nation!</h1>
  <br>
  <span class="exito">{{exito}}</span>
  <img src="https://nickspa.com/wp-content/uploads/2015/09/spabalneario-slide02.jpg
" alt="">


</div>